<!--Here in this html (root html) we render the other components.-->


<div class="container"> <!--Here we use bootstrap class(es)-->
    <div class="row">
        <div class="col-xs-12" style="text-align: center;">
            <h3 style="text-align: center;">This header-3 is written in the app-component.html file.</h3>
            <hr>
            <app-servers></app-servers>
            <hr>
            <app-successalert></app-successalert>
            <hr>
            <app-secret-button></app-secret-button>
        </div>
    </div>
</div>
